version: "3.9"

services:
  app:
    build: .
    container_name: lab7_app
    env_file:
      - .env
    environment:
      - HOST=${HOST}
      - PORT=${PORT}
      - CACHE_DIR=${CACHE_DIR}
      - DB_HOST=db
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./:/app
      - ./cache:/app/cache
    ports:
      - "${PORT}:${PORT}"
      - "9229:9229"
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mariadb:11
    container_name: lab7_db
    env_file:
      - .env
    environment:
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${DB_NAME}
      - MARIADB_USER=${DB_USER}
      - MARIADB_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "3307:3306"
    restart: unless-stopped

volumes:
  db_data:
